.btn {
  // display: inline-block;
  background-color: var(--bg-color--darker);

  width: clamp(327px, 100%, 376px);
  color: var(--bg-color-);
  border: none;
  outline: 1px solid var(--bg-color--darker);
  outline-color: transparent;
  border-radius: 0.5rem;
  padding-block: calc(var(--spacing) * 2);
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  // background-position: left;
  // transition: background-position 1s;

  &:hover,
  &:active {
    background-image: linear-gradient(#ff6a3a, #ff527b);
    // background-position: right;
  }
}
