

body {
  font-family: var(--font-family);
  font-size: var(--font-s-body);
  color: var(--bg-color--darker);
  background-color: var(--bg-color--dark);
  display: grid;
  place-content: center;
  // border: 5px solid var(--bg-color--dark);
  
}
