:root {
  //Font Family
  --font-family: "Roboto Flex";

  // //Font size
  --font-s-body-sm: 12px;
  --font-s-body: 16px;
  --font-s-h1: clamp(
    2.5rem,
    2.147887323943662rem + 1.5023474178403755vw,
    3.5rem
  );

  // --font-s-footer:
}
